
.app {
    margin: 10px;
}

.app > .leftSide {
    float: left;
    width: 45%;
}

.app > .rightSide {
    float: right;
    width: 45%;
}

h1 {
    font-size: 14px;
    margin: 5px;
}

.grayLabel {
    color: #888;
    margin: 5px 15px;
}